
<div id="page-content">
    <div class="container py-4">
        <h2 class="text-center">
            <%= @article.title %>
        </h2>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 mt-4">
                    <div class="card text-center">
                        <div class="card-header font-italic font-weight-light">
                             <%= @article.user.present? ?  (link_to "By #{@article.user.name}", user_path(@article.user) ) : 'No author' %>
                              
                             <div class="mt-2">
                                <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
                             </div>
                        </div>

                        <div class="card-body">
                            <div class="card-text text-left">
                                <%= simple_format(@article.description) %>
                            </div>
                           <% if logged_in? && @article.user == current_user %>
                            <div class="row justify-content-center">
                                <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-outline-info mx-2' %>
                                <%= link_to 'Delete', article_path(@article), class: 'btn btn-outline-danger mx-2', method: :delete, data: { confirm: 'Are you sure you want to delete?'  } %>
                            </div>
                           <% end %>
                        </div>
                        <div class="card-footer text-muted">
                            Created about <%= time_ago_in_words(@article.created_at) %> ago, edited about <%= time_ago_in_words(@article.updated_at) %> ago
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
